<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695906066563-m8b4ctbio5c3ur29sdk1atlv90msgimg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695906066563-m8b4ctbio5c3ur29sdk1atlv90msgimg</string>
	<key>API_KEY</key>
	<string>AIzaSyCs5trlVTTq_VRy5-zFgIaxLtzfCQZ2MSA</string>
	<key>GCM_SENDER_ID</key>
	<string>695906066563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messageapp</string>
	<key>PROJECT_ID</key>
	<string>messageapp-f1ed7</string>
	<key>STORAGE_BUCKET</key>
	<string>messageapp-f1ed7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695906066563:ios:173e6238096a09c47d7bb6</string>
</dict>
</plist>